/* You can add global styles to this file, and also import other style files */
/* تعریف متغیرهای رنگ */
$color-dark-blue: #180161;
$color-purple: #4F1787;
$color-pink: #EB3678;
$color-orange: #FB773C;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  

  
  body, html {
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .container-mobile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Fallback برای مرورگرهای قدیمی */
    height: 100svh; /* Small Viewport Height */
    height: 100lvh; /* Large Viewport Height */
    height: 100dvh; /* Dynamic Viewport Height */
    padding: 20px;
    background-color: #4F1787; /* رنگ زمینه */
    max-width: 480px; /* حداکثر عرض */
    margin: 0 auto;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    position: relative;
    overflow: hidden;
  }
  
  .button-container {
    margin-top: auto; /* دکمه‌ها همیشه در پایین صفحه قرار می‌گیرند */
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: baseline;
  }
  .phone-content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
    }
  .logo {
    width: 190px;
    margin-bottom: 20px;
  }
  
  .title {
    font-size: 32px;
    color: #fff;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .subtitle {
    font-size: 18px;
    color: #ffd5fc;
    margin-bottom: 30px;
    direction: ltr;
    margin-top: 30px;
    font-weight: bold;
  }
  
  .phone-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
  }
  
  .input-container {
    position: relative;
  }
  
  .phone-input {
    width: 100%;
    padding: 12px 50px 12px 20px;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    outline: none;
    margin-bottom: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    color: #4F1787;
  }
  
  .icon {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 24px;
    color: #4F1787;
  }
  
  .submit-btn {
    margin-top: 20px;

    background-color: #27ae60; /* رنگ دکمه */
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    color:#fff;

  }
  
  .submit-btn:disabled {
    background-color: gray;
    cursor: not-allowed;
  }
  
  /* استایل‌دهی برای کلاس‌های معتبر و نامعتبر */
  .invalid {
    border: 2px solid red;
  }
  
  .valid {
    border: 2px solid green;
  }
  /* استایل‌های لودینگ برای وسط صفحه */
/* استایل‌های لودینگ */
.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.spinner {
  border: 5px solid rgba(0, 0, 0, 0.1);
  border-top: 5px solid #3498db;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.loading-text {
  margin-top: 10px;
  font-size: 16px;
  color: #666;
}